@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "kanit";
  src: url(../fonts/kanit.ttf) format("truetype");
}

@font-face {
  font-family: "signika";
  src: url(../fonts/signika.ttf) format("truetype");
}

@font-face {
  font-family: "monserat";
  src: url(../fonts/monserat.ttf) format("truetype");
}

@layer base {
  html,
  body {
    @apply w-fit sm:w-full;
  }

  button {
    @apply outline-none;
  }
}

@layer components {
  .navbar {
    @apply flex flex-col w-full;
  }

  .navbar-head {
    @apply hidden sm:flex justify-between px-10 py-5 bg-gray-200/50;
  }

  .navbar-foot {
    @apply flex justify-between items-center px-10 py-4;
  }

  .nav-link {
    @apply sm:flex hidden justify-between basis-[30%];
  }

  .nav-list {
    @apply sm:flex hidden justify-around basis-[10%];
  }

  .nav-mobile {
    @apply fixed z-10 top-0 min-h-[1000vh] bg-gray-300/70 shadow-lg duration-200 ease-in-out shadow-black/30 w-72 p-3;
  }

  .wrapper {
    @apply flex flex-col sm:flex-row justify-between items-center my-4 px-5;
  }

  .side-content {
    @apply basis-[30%] sm:self-start self-center;
  }

  .main-content {
    @apply basis-[65%] mt-7 md:mt-0 flex flex-col items-center;
  }

  .footer {
    @apply w-full flex flex-col items-center py-[70px] justify-between bg-black/80 border-t-4 border-t-red-800;
  }
}

@layer utilities {
  .alert-success {
    @apply bg-green-100/80 border-l-4 border-green-500 text-green-700;
  }

  .alert-failed {
    @apply bg-red-100/80 border-l-4 border-red-500 text-red-700;
  }

  .alert-warning {
    @apply bg-orange-100/80 border-l-4 border-orange-500 text-orange-700;
  }
}
